bazel-*
.gradle/
target/
.flattened-pom.xml

# IDE
.idea
.ijwb
*.iml

# Vim.
*.sw*
*.vim

# Vscode Settings
.vscode/settings.json

*.iml

# Python
**/__pycache__/
.venv

# library generation
**/output/
**/googleapis
library_generation/test/resources/goldens/
library_generation/test/resources/test_repo_level_postprocess/
**/*egg-info/
**/build/
