bazel-*
.gradle/
target/
.flattened-pom.xml

# IDE
.idea
.ijwb
*.iml

# Vim.
*.sw*
*.vim

# Vscode Settings
.vscode/settings.json

*.iml

showcase/gapic-showcase/src/test/resources/compliance_suite.json
