<configuration>
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder class="net.logstash.logback.encoder.LogstashEncoder">
      <provider class="net.logstash.logback.composite.loggingevent.ArgumentsJsonProvider" />
      <fieldNames>
        <level>severity</level>
      </fieldNames>
    </encoder>
    <filter class="ch.qos.logback.core.filter.EvaluatorFilter">
      <evaluator class="ch.qos.logback.classic.boolex.JaninoEventEvaluator">
        <expression>
          ((logger.equals("com.google.api.gax.grpc.GrpcLoggingInterceptor") ||
          logger.equals("com.google.api.gax.httpjson.HttpJsonLoggingInterceptor") ||
          logger.equals("com.google.api.gax.tracing.MetricsTracer"))
          &amp;&amp; (mdc.get("serviceName").equals("google.showcase.v1beta1.Echo")))
        </expression>
<!--        <expression>-->
<!--          mdc.get("serviceName").equals("google.showcase.v1beta1.Echo")-->
<!--        </expression>-->
      </evaluator>
      <onMatch>ACCEPT</onMatch>
      <onMismatch>DENY</onMismatch>
    </filter>
  </appender>

  <root level="DEBUG">
    <appender-ref ref="STDOUT" />
  </root>
</configuration>