<configuration debug="true">
<!--  <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">-->
<!--    <encoder class="net.logstash.logback.encoder.LogstashEncoder" />-->
<!--&lt;!&ndash;    <encoder>&ndash;&gt;-->
<!--&lt;!&ndash;      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg -  %kvp - %mdc%n</pattern>&ndash;&gt;-->
<!--&lt;!&ndash;    </encoder>&ndash;&gt;-->
<!--  </appender>-->
<!--  <appender name="FILE" class="ch.qos.logback.core.FileAppender">-->
<!--    <file>my-app.log</file>-->
<!--    <encoder class="net.logstash.logback.encoder.LogstashEncoder" />-->
<!--  </appender>-->

<!--    <appender name="TEST_APPENDER" class="com.google.api.gax.httpjson.TestAppender" />-->
  <root level="debug">
    <appender-ref ref="TEST_APPENDER" />
  </root>
</configuration>
