on:
  push:
    branches:
      - main
  pull_request:
name: ci-maven
env:
  SHOWCASE_VERSION: 0.25.0
jobs:
  units:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        java: [ 11, 17 ]
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-java@v3
        with:
          java-version: ${{ matrix.java }}
          distribution: temurin
          cache: maven
      - run: java -version
      - name: Unit Tests
        run: |
          mvn verify --batch-mode --no-transfer-progress -Dcheckstyle.skip \
              -Dfmt.skip

  units-java8:
    name: "units (8) except gapic-generator-java"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      # Java 8 tests uses JDK 11 to compile and JDK 8 to run tests.
      - uses: actions/setup-java@v3
        with:
          java-version: 8
          distribution: temurin
          cache: maven
      - run: echo "JAVA8_HOME=${JAVA_HOME}" >> $GITHUB_ENV
      - uses: actions/setup-java@v3
        with:
          java-version: 11
          distribution: temurin
      - run: echo "JAVA11_HOME=${JAVA_HOME}" >> $GITHUB_ENV
      - name: Compile with Java 11
        shell: bash
        run: |
          set -x
          export JAVA_HOME=$JAVA11_HOME
          export PATH=${JAVA_HOME}/bin:$PATH

          # Why not compile? It's because the process needs to package jar so
          # that gapic-generator-java module can use testlib modules of gax.
          mvn verify --batch-mode --no-transfer-progress -Dcheckstyle.skip \
              -DskipTests -Dfmt.skip
      - name: Run test with Java 8 for all modules except gapic-generator-java
        shell: bash
        run: |
          set -x
          export JAVA_HOME=$JAVA8_HOME
          export PATH=${JAVA_HOME}/bin:$PATH
          # useIncrementalCompilation=false to avoid recompiling classes
          # generated by Java 11 compiler above.
          mvn -B -ntp test  --projects '!gapic-generator-java' \
              -Dcheckstyle.skip -Dmaven.compiler.useIncrementalCompilation=false \
              -Dfmt.skip

  units-java8-gapic-generator-java:
    name: "units (8) for gapic-generator-java"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-java@v3
        with:
          java-version: 11
          distribution: temurin
          cache: maven
      - name: Install all modules using Java 11
        shell: bash
        run: |
          mvn -V -B -ntp clean install -DskipTests
      - uses: actions/setup-java@v3
        with:
          java-version: 8
          distribution: temurin
          cache: maven
      - run: java -version
      - name: Run tests in Java 8 with the source compiled in Java 11 for gapic-generator-java
        shell: bash
        run: |
          mvn -V -B -ntp surefire:test --projects 'gapic-generator-java'
          mvn -B -ntp clirr:check --projects 'gapic-generator-java'

  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-java@v3
        with:
          java-version: 11
          distribution: temurin
          cache: maven
      - run: java -version
      - name: Java Linter
        # Exclude the root project
        run: mvn -B -ntp --projects '!.' fmt:check

  showcase:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        java: [ 11, 17 ]
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-java@v3
        with:
          java-version: ${{ matrix.java }}
          distribution: temurin
      - run: java -version

      - name: Bazel File Cache Setup
        id: cache-bazel
        uses: actions/cache@v3
        with:
          path: ~/.cache/bazel
          key: ${{ runner.os }}-${{ hashFiles('WORKSPACE') }}
          restore-keys: ${{ runner.os }}-
      - name: Bazel Cache Not Found
        if: steps.cache-bazel.outputs.cache-hit != 'true'
        run: |
          echo "No cache found."
      - name: Bazel Cache Found
        if: steps.cache-bazel.outputs.cache-hit == 'true'
        run: |
          echo -n "Cache found. Cache size: "
          du -sh ~/.cache/bazel          
          echo "If the cache seems broken, update the root WORKSPACE file with a trivial change."
          echo "The old cache will disappear after 7 days."

      - name: Install maven modules
        run: |
          mvn install -B -ntp -DskipTests -Dclirr.skip -Dcheckstyle.skip

      - name: Install system dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y curl unzip
      - name: Install showcase server
        run: |
          sudo mkdir -p /usr/src/showcase
          sudo chown -R ${USER} /usr/src/
          curl --location https://github.com/googleapis/gapic-showcase/releases/download/v${SHOWCASE_VERSION}/gapic-showcase-${SHOWCASE_VERSION}-linux-amd64.tar.gz --output /usr/src/showcase/showcase-${SHOWCASE_VERSION}-linux-amd64.tar.gz
          cd /usr/src/showcase/
          tar -xf showcase-*
          ./gapic-showcase run &
          cd -
      - name: Showcase integration tests
        working-directory: showcase
        run: |
          mvn verify \
            -P enable-golden-tests \
            -P enable-integration-tests \
            --batch-mode \
            --no-transfer-progress
