on:
  push:
    branches:
      - main
  pull_request:
name: ci
jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        java: [8, 11]
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-java@v1
        with:
          java-version: ${{ matrix.java }}
      - run: java -version

      - name: Bazel File Cache Setup
        id: cache-bazel
        uses: actions/cache@v2
        with:
          path: ~/.cache/bazel
          key: ${{ runner.os }}-${{ secrets.CACHE_VERSION }}

      - name: Bazel Cache Not Found
        if: steps.cache-bazel.outputs.cache-hit != 'true'
        run: |
          echo "No cache found."
      - name: Bazel Cache Found
        if: steps.cache-bazel.outputs.cache-hit == 'true'
        run: |
          echo -n "Cache found. Cache size: "
          du -sh ~/.cache/bazel
          echo "If the cache seems broken, update the CACHE_VERSION secret in"
          echo "https://github.com/googleapis/googleapis-discovery/settings/secrets/actions"
          echo "(use any random string, any GUID will work)"
          echo "and it will start over with a clean cache."
          echo "The old one will disappear after 7 days."

      - name: Unit Tests
        run: bazel --batch test $(bazel query "//src/test/..." | grep "Test$") --noshow_progress --test_output=errors

      - name: Integration Tests
        run: bazel --batch test //test/integration/...

      - name: Gradle Build Generated Storage Client Library
        run: |
          echo "Building Storage lib from generated source..."
          mkdir /tmp/java-storage
          tar zxvf bazel-bin/test/integration/google-cloud-storage-v2-java.tar.gz -C /tmp/java-storage
          pushd /tmp/java-storage/google-cloud-storage-v2-java
          ./gradlew clean build publishToMavenLocal sourcesJar allJars
          popd

      - name: Gradle Build Generated Compute Client Library
        run: |
          echo "Building Compute lib from generated source..."
          mkdir /tmp/java-compute
          bazel --batch build @com_google_googleapis//google/cloud/compute/v1small:google-cloud-compute-small-v1-java
          tar zxvf bazel-bin/external/com_google_googleapis/google/cloud/compute/v1small/google-cloud-compute-small-v1-java.tar.gz -C /tmp/java-compute
          pushd /tmp/java-compute/google-cloud-compute-small-v1-java
          ./gradlew clean build publishToMavenLocal sourcesJar allJars
          popd

      - uses: actions/upload-artifact@v2
        if: ${{ failure() }}
        with:
          name: test-artifacts
          path: ~/.cache/bazel/*/*/*/gapic_generator_java/bazel-out/*/testlogs/*
          retention-days: 5

      - name: Java Linter
        run: bazel --batch  build //:google_java_format_verification

  coverage:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-go@v2
        with:
          java-version: 8
      - run: java -version

      - name: Generate Code Coverage Report
        # Run only test targets, and not golden_update targets.
        run: bazel coverage  $(bazel query "src/test/..." | grep "Test$")  --combined_report=lcov

      - name: Upload Code Coverage Report
        uses: codecov/codecov-action@v2
        with:
          name: actions ${{ matrix.java }}
          files: ./bazel-out/_coverage/_coverage_report.dat

  license-header:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-go@v2
        with:
          go-version: '^1.13.1'
      - name: License Header Check
        run: |
          go get -u github.com/google/addlicense
          addlicense -c "Google LLC" -l apache -check $(find $PWD -type f -name '*.java' ! -iname '*PlaceholderFile.java')

