on:
  push:
    branches:
      - main
  pull_request:
name: ci
jobs:
  build:
    runs-on: ubuntu-22.04
    strategy:
      matrix:
        java: [ 11, 17]
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
          java-version: ${{ matrix.java }}
          distribution: temurin
          cache: maven
      - run: java -version
      - name: Unit Tests
        run: |
          mvn test --batch-mode --no-transfer-progress -Dcheckstyle.skip \
              -Dfmt.skip -DenableTestCoverage
      # The `envVarTest` profile runs tests that require an environment variable
      - name: Env Var Tests
        run: |
          mvn test --batch-mode --no-transfer-progress -Dcheckstyle.skip \
              -Dfmt.skip -DenableTestCoverage -PenvVarTest
        # Set the Env Var for this step only
        env:
          GOOGLE_CLOUD_UNIVERSE_DOMAIN: random.com
          GOOGLE_CLOUD_ENABLE_DIRECT_PATH_XDS: true
          GOOGLE_SDK_JAVA_LOGGING: true
      - run: bazelisk version
      - name: Install Maven modules
        run: |
          mvn install -B -ntp -DskipTests -Dclirr.skip -Dcheckstyle.skip -Dfmt.skip
      - name: Integration Tests
        run: |
          bazelisk --batch test //test/integration/...
      - name: Gradle Build Generated Storage Client Library
        run: |
          echo "Building Storage lib from generated source..."
          mkdir /tmp/java-storage
          bazelisk --batch build @com_google_googleapis//google/storage/v2:google-cloud-storage-v2-java
          tar zxvf bazel-bin/external/com_google_googleapis/google/storage/v2/google-cloud-storage-v2-java.tar.gz -C /tmp/java-storage
          pushd /tmp/java-storage/google-cloud-storage-v2-java
          ./gradlew clean build publishToMavenLocal sourcesJar allJars
          popd

      - name: Gradle Build Generated Compute Client Library
        run: |
          echo "Building Compute lib from generated source..."
          mkdir /tmp/java-compute
          bazelisk --batch build @com_google_googleapis//google/cloud/compute/v1small:google-cloud-compute-small-v1-java
          tar zxvf bazel-bin/external/com_google_googleapis/google/cloud/compute/v1small/google-cloud-compute-small-v1-java.tar.gz -C /tmp/java-compute
          pushd /tmp/java-compute/google-cloud-compute-small-v1-java
          ./gradlew clean build publishToMavenLocal sourcesJar allJars
          popd
  build-java-21:
    name: "build(21) except self-service clients"
    # Support for Java 21 is available for all use cases except self-service clients.
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
          java-version: 21
          distribution: temurin
          cache: maven
      - run: java -version
      - name: Unit Tests
        run: |
          mvn test --batch-mode --no-transfer-progress -Dcheckstyle.skip \
              -Dfmt.skip -DenableTestCoverage
      # The `envVarTest` profile runs tests that require an environment variable
      - name: Env Var Tests
        run: |
          mvn test --batch-mode --no-transfer-progress -Dcheckstyle.skip \
              -Dfmt.skip -DenableTestCoverage -PenvVarTest
        # Set the Env Var for this step only
        env:
          GOOGLE_CLOUD_UNIVERSE_DOMAIN: random.com
          GOOGLE_CLOUD_ENABLE_DIRECT_PATH_XDS: true
          GOOGLE_SDK_JAVA_LOGGING: true
      - run: bazelisk version
      - name: Install Maven modules
        run: |
          mvn install -B -ntp -DskipTests -Dclirr.skip -Dcheckstyle.skip
      - name: Integration Tests
        run: |
          bazelisk --batch test //test/integration/...
  build-java-25:
    name: "build(25) except self-service clients"
    # Support for Java 25 is available for all use cases except self-service clients.
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
          java-version: 25
          distribution: temurin
          cache: maven
      - run: java -version
      - name: Unit Tests
        run: |
          mvn test --batch-mode --no-transfer-progress -Dcheckstyle.skip \
              -Dfmt.skip -DenableTestCoverage
      # The `envVarTest` profile runs tests that require an environment variable
      - name: Env Var Tests
        run: |
          mvn test --batch-mode --no-transfer-progress -Dcheckstyle.skip \
              -Dfmt.skip -DenableTestCoverage -PenvVarTest
        # Set the Env Var for this step only
        env:
          GOOGLE_CLOUD_UNIVERSE_DOMAIN: random.com
          GOOGLE_CLOUD_ENABLE_DIRECT_PATH_XDS: true
          GOOGLE_SDK_JAVA_LOGGING: true
      - run: bazelisk version
      - name: Install Maven modules
        run: |
          mvn install -B -ntp -DskipTests -Dclirr.skip -Dcheckstyle.skip -Dfmt.skip
      - name: Integration Tests
        # note need to set shouldInstallTestSecurityManager=false due to https://github.com/bazelbuild/bazel/issues/24354
        run: |
          bazelisk --batch test //test/integration/... --jvmopt=-Dcom.google.testing.junit.runner.shouldInstallTestSecurityManager=false
  build-java8-except-gapic-generator-java:
    name: "build(8) except for gapic-generator-java"
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4
      # Java 8 tests uses JDK 17 to compile and JDK 8 to run tests.
      - uses: actions/setup-java@v4
        with:
          java-version: 8
          distribution: temurin
          cache: maven
      - run: echo "JAVA8_HOME=${JAVA_HOME}" >> $GITHUB_ENV
      - uses: actions/setup-java@v3
        with:
          java-version: 17
          distribution: temurin
      - name: Compile with Java 17 and run tests with Java 8
        shell: bash
        run: |
          set -x
          export JAVA_HOME=$JAVA_HOME
          export PATH=${JAVA_HOME}/bin:$PATH
          # Maven surefire plugin lets us to specify the JVM when running tests via
          # the "jvm" system property.
          mvn verify --batch-mode --no-transfer-progress -Dcheckstyle.skip \
              -Dfmt.skip \
              -Djvm="${JAVA8_HOME}/bin/java"
      # The `envVarTest` profile runs tests that require an environment variable
      - name: Compile with Java 17 and run tests with Java 8 (Env Var Tests)
        shell: bash
        run: |
          set -x
          export JAVA_HOME=$JAVA_HOME
          export PATH=${JAVA_HOME}/bin:$PATH
          # Maven surefire plugin lets us to specify the JVM when running tests via
          # the "jvm" system property.
          export GOOGLE_CLOUD_UNIVERSE_DOMAIN=random.com
          mvn test --batch-mode --no-transfer-progress -Dcheckstyle.skip \
              -Dfmt.skip -DenableTestCoverage -Dsurefire.failIfNoSpecifiedTests=false \
              -PenvVarTest
        # Set the Env Var for this step only
        env:
          GOOGLE_CLOUD_UNIVERSE_DOMAIN: random.com
          GOOGLE_CLOUD_ENABLE_DIRECT_PATH_XDS: true
          GOOGLE_SDK_JAVA_LOGGING: true

  build-java8-gapic-generator-java:
    name: "build(8) for gapic-generator-java"
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
          java-version: 11
          distribution: temurin
          cache: maven
      - name: Install all modules using Java 11
        shell: bash
        run: |
          mvn -V -B -ntp clean install -DskipTests -Dfmt.skip
      - uses: actions/setup-java@v3
        with:
          java-version: 8
          distribution: temurin
      - run: java -version
      - name: Run tests in Java 8 with the source compiled in Java 11 for gapic-generator-java
        shell: bash
        run: |
          mvn -V -B -ntp surefire:test --projects 'gapic-generator-java'
      - run: bazelisk version
      - name: Integration Tests
        run: |
          bazelisk --batch test //test/integration/...
      - name: Gradle Build Generated Storage Client Library
        run: |
          echo "Building Storage lib from generated source..."
          mkdir /tmp/java-storage
          bazelisk --batch build @com_google_googleapis//google/storage/v2:google-cloud-storage-v2-java
          tar zxvf bazel-bin/external/com_google_googleapis/google/storage/v2/google-cloud-storage-v2-java.tar.gz -C /tmp/java-storage
          pushd /tmp/java-storage/google-cloud-storage-v2-java
          ./gradlew clean build publishToMavenLocal sourcesJar allJars
          popd

      - name: Gradle Build Generated Compute Client Library
        run: |
          echo "Building Compute lib from generated source..."
          mkdir /tmp/java-compute
          bazelisk --batch build @com_google_googleapis//google/cloud/compute/v1small:google-cloud-compute-small-v1-java
          tar zxvf bazel-bin/external/com_google_googleapis/google/cloud/compute/v1small/google-cloud-compute-small-v1-java.tar.gz -C /tmp/java-compute
          pushd /tmp/java-compute/google-cloud-compute-small-v1-java
          ./gradlew clean build publishToMavenLocal sourcesJar allJars
          popd

  lint:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
          java-version: 17
          distribution: temurin
          cache: maven
      - run: java -version
      - name: Java Linter
        # Exclude the root project
        run: mvn -B -ntp fmt:check

  compatibility:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
          java-version: 11
          distribution: temurin
          cache: maven
      - run: java -version
      - name: Compatibility check
        #  package jar so that gapic-generator-java module can use
        #  testlib modules of gax
        run: mvn package clirr:check -DskipTests -Dfmt.skip

  build-java8-showcase:
    name: "build(8) for showcase"
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
          java-version: 11
          distribution: temurin
          cache: maven
      - name: Install all modules using Java 11
        shell: bash
        run: |
          mvn install -B -ntp -DskipTests -Dclirr.skip -Dcheckstyle.skip -Dfmt.skip
      - uses: actions/setup-java@v3
        with:
          java-version: 8
          distribution: temurin
      - run: java -version
      - name: Parse showcase version
        working-directory: java-showcase/gapic-showcase
        run: echo "SHOWCASE_VERSION=$(mvn help:evaluate -Dexpression=gapic-showcase.version -q -DforceStdout)" >> "$GITHUB_ENV"
      - name: Install showcase server
        run: |
                sudo mkdir -p /usr/src/showcase
                sudo chown -R ${USER} /usr/src/
                curl --location https://github.com/googleapis/gapic-showcase/releases/download/v${{env.SHOWCASE_VERSION}}/gapic-showcase-${{env.SHOWCASE_VERSION}}-linux-amd64.tar.gz --output /usr/src/showcase/showcase-${{env.SHOWCASE_VERSION}}-linux-amd64.tar.gz
                cd /usr/src/showcase/
                tar -xf showcase-*
                ./gapic-showcase run &
                cd -
      - name: Showcase integration tests
        working-directory: java-showcase
        run: |
              mvn verify \
                -P enable-integration-tests \
                --batch-mode \
                --no-transfer-progress
        # The `slf4j1_logback` profile brings logging dependency and compiles logging tests, require env var to be set
      - name: Showcase integration tests - Logging SLF4J 1.x
        working-directory: java-showcase
        run: |
             mvn clean verify -P '!showcase,enable-integration-tests,loggingTestBase,slf4j1_logback' \
              --batch-mode \
              --no-transfer-progress
        # Set the Env Var for this step only
        env:
            GOOGLE_SDK_JAVA_LOGGING: true
        # The `disabledLogging` profile tests logging disabled when logging dependency present,
        # do not set env var for this step
      - name: Showcase integration tests - Logging disabed
        working-directory: java-showcase
        run: |
          mvn clean verify -P '!showcase,enable-integration-tests,loggingTestBase,disabledLogging'  \
            --batch-mode \
            --no-transfer-progress
      - name: Showcase integration tests - Protobuf gen code 3.25.8
        working-directory: java-showcase-3.25.8
        run: |
          mvn verify \
            -P enable-integration-tests \
            --batch-mode \
            --no-transfer-progress
  showcase:
    runs-on: ubuntu-22.04
    strategy:
      matrix:
        java: [ 11, 17, 21, 25 ]
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
          java-version: ${{ matrix.java }}
          distribution: temurin
      - run: mvn -version
      - name: Install Maven modules
        run: |
          mvn install -B -ntp -DskipTests -Dclirr.skip -Dcheckstyle.skip -Dfmt.skip
      - name: Showcase golden tests
        working-directory: java-showcase
        run: |
          mvn test \
            -P enable-golden-tests \
            --batch-mode \
            --no-transfer-progress
      - name: Parse showcase version
        working-directory: java-showcase/gapic-showcase
        run: echo "SHOWCASE_VERSION=$(mvn help:evaluate -Dexpression=gapic-showcase.version -q -DforceStdout)" >> "$GITHUB_ENV"
      - name: Install showcase server
        run: |
          sudo mkdir -p /usr/src/showcase
          sudo chown -R ${USER} /usr/src/
          curl --location https://github.com/googleapis/gapic-showcase/releases/download/v${{env.SHOWCASE_VERSION}}/gapic-showcase-${{env.SHOWCASE_VERSION}}-linux-amd64.tar.gz --output /usr/src/showcase/showcase-${{env.SHOWCASE_VERSION}}-linux-amd64.tar.gz
          cd /usr/src/showcase/
          tar -xf showcase-*
          ./gapic-showcase run &
          cd -
      - name: Showcase integration tests
        working-directory: java-showcase
        run: |
          mvn verify \
            -P enable-integration-tests \
            --batch-mode \
            --no-transfer-progress
      # The `slf4j2_logback` profile brings logging dependency and compiles logging tests, require env var to be set
      - name: Showcase integration tests - Logging SLF4J 2.x
        working-directory: java-showcase
        run: |
          mvn clean verify -P '!showcase,enable-integration-tests,loggingTestBase,slf4j2_logback' \
            --batch-mode \
            --no-transfer-progress
        # Set the Env Var for this step only
        env:
          GOOGLE_SDK_JAVA_LOGGING: true
    # The `slf4j1_logback` profile brings logging dependency and compiles logging tests, require env var to be set
      - name: Showcase integration tests - Logging SLF4J 1.x
        working-directory: java-showcase
        run: |
          mvn clean verify -P '!showcase,enable-integration-tests,loggingTestBase,slf4j1_logback' \
            --batch-mode \
            --no-transfer-progress
        # Set the Env Var for this step only
        env:
          GOOGLE_SDK_JAVA_LOGGING: true
    # The `disabledLogging` profile tests logging disabled when logging dependency present,
    # do not set env var for this step
      - name: Showcase integration tests - Logging disabed
        working-directory: java-showcase
        run: |
          mvn clean verify -P '!showcase,enable-integration-tests,loggingTestBase,disabledLogging'  \
            --batch-mode \
            --no-transfer-progress

  showcase-clirr:
    if: ${{ github.base_ref != '' }} # Only execute on pull_request trigger event
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout @ target branch
        uses: actions/checkout@v4
        with:
          ref: ${{ github.base_ref }}
      - uses: actions/setup-java@v4
        with:
          java-version: 17
          distribution: temurin
          cache: maven
      - name: Install sdk-platform-java and showcase to local maven repository
        run: |
          mvn install -B -ntp -T 1C -DskipTests
          cd java-showcase
          mvn install -B -ntp -T 1C -DskipTests
          SHOWCASE_CLIENT_VERSION=$(mvn help:evaluate -Dexpression=project.version -q -DforceStdout)
          echo "SHOWCASE_CLIENT_VERSION=$SHOWCASE_CLIENT_VERSION" >> "$GITHUB_ENV"
      - name: Checkout sdk-platform-java @ PR merge commit
        uses: actions/checkout@v3
      - name: Install sdk-platform-java @ PR merge commit
        run: mvn install -B -ntp -T 1C -DskipTests
        # Showcase golden test ensures that src changes are already reflected in the PR.
      - name: Clirr check
        working-directory: java-showcase
        run: |
          mvn versions:set -B -ntp -DnewVersion=local
          mvn clirr:check -B -ntp -DcomparisonVersion=$SHOWCASE_CLIENT_VERSION

  gapic-generator-java-bom:
    runs-on: ubuntu-22.04
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-java@v4
      with:
        java-version: 11
        distribution: temurin
        cache: maven
    - name: Install Maven modules to local Maven repository
      run: |
        mvn install -B -ntp -DskipTests -Dclirr.skip -Dcheckstyle.skip -Dfmt.skip
    - name: Validate gapic-generator-java-bom
      uses: googleapis/java-cloud-bom/tests/validate-bom@ef3656d3c66f4c6bd3b2c569d64a77cb40aeb77e
      with:
        bom-path: gapic-generator-java-bom/pom.xml

  unmanaged_dependency_check:
    runs-on: ubuntu-22.04
    steps:
    - uses: actions/checkout@v4
      with:
        ref: ${{ github.event.pull_request.head.sha }}
    - uses: actions/setup-java@v4
      with:
        java-version: 11
        distribution: temurin
    - run: mvn -version
    - name: Unit Tests
      run: |
        mvn test --batch-mode --no-transfer-progress
      working-directory: java-shared-dependencies/unmanaged-dependency-check
    - name: Install Maven modules
      run: |
        mvn install -B -ntp -DskipTests -Dclirr.skip -Dcheckstyle.skip -Dfmt.skip
    - name: Unmanaged dependency check
      uses: ./java-shared-dependencies/unmanaged-dependency-check
      with:
        bom-path: gapic-generator-java-bom/pom.xml

  dependency_analyzer_unit_test:
    runs-on: ubuntu-22.04
    steps:
    - uses: actions/checkout@v4
      with:
        ref: ${{ github.event.pull_request.head.sha }}
    - uses: actions/setup-java@v4
      with:
        java-version: 17
        distribution: temurin
    - run: mvn -version
    - name: Unit Tests
      run: |
        mvn test --batch-mode --no-transfer-progress
      working-directory: java-shared-dependencies/dependency-analyzer
