name: Dependency Compatibility Test
'on':
  pull_request:
    branches:
      - 2.66.x
  workflow_dispatch:
    inputs:
      dependencies-list:
        description: >-
          Comma-separated list of dependencies to test (Example format:
          protobuf=4.31.0,guava=33.4.8-jre). Note: The name should be the maven
          property. Find this value in the <properties> section in the pom. Do
          not include the `-D` prefix or `.version` suffix. Those values will be
          appended when generating the command. No input (default) will run the
          the upper-bound dependencies file.
        required: false
        default: ''
jobs:
  dependency-compatibility-test:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: Checkout sdk-platform-java
        uses: actions/checkout@v4
      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: temurin
          cache: maven
      - name: Determine Inputted Dependencies List
        if: >-
          ${{ github.event_name == 'workflow_dispatch' &&
          github.event.inputs.dependencies-list != '' }}
        run: >-
          echo "DEPENDENCIES_LIST=${{ github.event.inputs.dependencies-list }}"
          >> $GITHUB_ENV
      - name: Perform Dependency Compatibility Unit Testing
        shell: bash
        run: |
          if [[ -n "${{ env.DEPENDENCIES_LIST }}" ]]; then
            ./.github/scripts/test_dependency_compatibility.sh -l ${{ env.DEPENDENCIES_LIST }}
          else
            ./.github/scripts/test_dependency_compatibility.sh
          fi
      - name: Install sdk-platform-java's modules
        run: >-
          mvn -q -B -ntp install --projects '!gapic-generator-java'
          -Dcheckstyle.skip -Dfmt.skip -DskipTests -Dclirr.skip -T 1C
      - name: Parse showcase version
        working-directory: java-showcase/gapic-showcase
        run: >-
          echo "SHOWCASE_VERSION=$(mvn help:evaluate
          -Dexpression=gapic-showcase.version -q -DforceStdout)" >>
          "$GITHUB_ENV"
      - name: Install showcase server
        run: >
          sudo mkdir -p /usr/src/showcase

          sudo chown -R ${USER} /usr/src/

          curl --location
          https://github.com/googleapis/gapic-showcase/releases/download/v${{env.SHOWCASE_VERSION}}/gapic-showcase-${{env.SHOWCASE_VERSION}}-linux-amd64.tar.gz
          --output
          /usr/src/showcase/showcase-${{env.SHOWCASE_VERSION}}-linux-amd64.tar.gz

          cd /usr/src/showcase/

          tar -xf showcase-*

          ./gapic-showcase run &

          cd -
      - name: Perform Dependency Compatibility Integration Testing (Showcase Tests)
        shell: bash
        run: |
          if [[ -n "${{ env.DEPENDENCIES_LIST }}" ]]; then
            ../.github/scripts/test_dependency_compatibility.sh -l ${{ env.DEPENDENCIES_LIST }}
          else
            ../.github/scripts/test_dependency_compatibility.sh -f ../dependencies.txt
          fi
        working-directory: java-showcase
