'on':
  push:
    branches:
      - 2.66.x
  pull_request:
    paths:
      - gapic-generator-java-bom/**
      - gapic-generator-java-pom-parent/**
      - java-shared-dependencies/**
name: shared-dependencies version check
jobs:
  upper-bound-check:
    name: Shared Dependencies BOM upper-bound check
    runs-on: ubuntu-latest
    if: github.repository_owner == 'googleapis'
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17
      - run: java -version
      - name: Install maven modules
        run: |
          mvn install -B -ntp -DskipTests -Dclirr.skip -Dcheckstyle.skip
      - name: Check the BOM content satisfies the upper-bound-check test case
        run: mvn -B -V -ntp verify -Dcheckstyle.skip
        working-directory: java-shared-dependencies/upper-bound-check
