on:
  push:
    branches:
    - main
  pull_request:
    paths:
    - library_generation/**

  workflow_dispatch:
name: verify_library_generation
jobs:
  integration_tests:
    strategy:
      matrix:
        java: [ 11 ]
        os: [ ubuntu-22.04, macos-12 ]
        post_processing: [ 'true', 'false' ]
    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-java@v3
      with:
        java-version: ${{ matrix.java }}
        distribution: temurin
        cache: maven
    - uses: actions/setup-python@v4
      with:
        python-version: '3.11'
    - name: install pyenv
      shell: bash
      run: |
        set -ex
        curl https://pyenv.run | bash
        # setup environment
        export PYENV_ROOT="$HOME/.pyenv"
        export PATH="$PYENV_ROOT/bin:$PATH"
        echo "PYENV_ROOT=${PYENV_ROOT}" >> $GITHUB_ENV
        echo "PATH=${PATH}" >> $GITHUB_ENV
        # init pyenv
        eval "$(pyenv init --path)"
        eval "$(pyenv init -)"
        eval "$(pyenv virtualenv-init -)"

        # create and activate the python virtualenv
        python_version=$(cat "${scripts_root}/configuration/python-version")
        if [ $(pyenv versions | grep "${python_version}" | wc -l) -eq 0 ]; then
          pyenv install "${python_version}"
        fi
        if [ $(pyenv virtualenvs | grep "${python_version}" | grep "postprocessing" | wc -l) -eq 0 ];then
          pyenv virtualenv "${python_version}" "postprocessing"
        fi
        set +ex
    - name: install python dependencies
      shell: bash
      run: |
        set -ex
        pushd library_generation
        pip install -r requirements.in
        popd

    - name: install utils (macos)
      if: matrix.os == 'macos-12'
      shell: bash
      run: |
        brew update --preinstall
        # we need the `realpath` command to be available
        brew install coreutils
    - name: install docker (ubuntu)
      if: matrix.os == 'ubuntu-22.04'
      shell: bash
      run: |
        set -x
        # install docker
        sudo apt install containerd -y
        sudo apt install -y docker.io docker-compose

        # launch docker
        sudo systemctl start docker
    - name: Run integration tests
      # we don't run ITs with postprocessing on macos because one of its dependencies "synthtool" is designed to run on linux only
      if: matrix.os == 'ubuntu-22.04' || matrix.post_processing == 'false'
      shell: bash
      run: |
        git config --global user.email "github-workflow@github.com"
        git config --global user.name "Github Workflow"
        library_generation/test/generate_library_integration_test.sh \
        --googleapis_gen_url https://cloud-java-bot:${{ secrets.CLOUD_JAVA_BOT_GITHUB_TOKEN }}@github.com/googleapis/googleapis-gen.git \
        --enable_postprocessing "${{ matrix.post_processing }}"
  unit_tests:
    strategy:
      matrix:
        java: [ 8 ]
        os: [ ubuntu-22.04, macos-12 ]
    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v3
    - name: install utils (macos)
      if: matrix.os == 'macos-12'
      shell: bash
      run: |
        brew update --preinstall
        brew install coreutils
    - name: Run unit tests
      run: |
        set -x
        library_generation/test/generate_library_unit_tests.sh
  lint:
    runs-on: ubuntu-22.04
    steps:
    - uses: actions/checkout@v3
    - name: Run ShellCheck
      uses: ludeeus/action-shellcheck@2.0.0
      with:
        scandir: 'library_generation'
        format: tty
        severity: error
