on:
  push:
    branches:
    - main
  pull_request:
    paths:
    - library_generation/**

  workflow_dispatch:
name: verify_library_generation
jobs:
  verify_library_generation:
    runs-on: ubuntu-22.04
    strategy:
      matrix:
        java: [ 8 ]
    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-java@v3
      with:
        java-version: ${{ matrix.java }}
        distribution: temurin
        cache: maven
    - name: checkout googleapis
      uses: actions/checkout@v3
      with:
        repository: googleapis/googleapis
        ref: master
        path: googleapis
    - name: copy protos to proto_path
      run: |
        cp -r googleapis/google library_generation
    - name: generate client library
      shell: bash
      run: |
        set -x
        library_generation/generate_library.sh \
        -p google/cloud/confidentialcomputing/v1 \
        -d google-cloud-confidentialcomputing-v1-java \
        --gapic_generator_version 2.24.0 \
        --protobuf_version 23.2 \
        --grpc_version 1.55.1 \
        --transport grpc+rest \
        --rest_numeric_enums true \
        --include_samples true
    - name: checkout googleapis-gen
      uses: actions/checkout@v3
      with:
        repository: googleapis/googleapis-gen
        ref: master
        path: googleapis-gen
        token: ${{ secrets.CLOUD_JAVA_BOT_GITHUB_TOKEN }}
    - name: compare generation result
      run: |
        # ignore gradle files
        diff -r googleapis-gen/google/cloud/confidentialcomputing/v1/google-cloud-confidentialcomputing-v1-java/ library_generation/google-cloud-confidentialcomputing-v1-java/ -x "*gradle*"
